@page "/banners"
@using JitDalshe.Ui.Admin.Models

<PageTitle>Баннеры</PageTitle>

<h1 class="mb-4">Баннеры</h1>

<h2>Предпросмотр активных баннеров</h2>
<div id="carouselBannersIndicators" class="carousel slide carousel-container" data-ride="carousel">
    <ol class="carousel-indicators">
        @foreach (var displayingBanner in _displayingBanners)
        {
            <li data-target="#carouselBannersIndicators"
                data-slide-to="@displayingBanner.DisplayOrder"
                class="@(displayingBanner.DisplayOrder == 0 ? "active" : null)"></li>
        }
    </ol>
    <div class="carousel-inner">
        @foreach (var displayingBanner in _displayingBanners)
        {
            <div class="carousel-item carousel-card rounded @(displayingBanner.DisplayOrder == 0 ? "active" : null)">
                <img src="@displayingBanner.ImageUrl" alt="">
                <div class="card-text-overlay">@displayingBanner.Title</div>
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselBannersIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselBannersIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@*TODO слайдер с пятью текущими баннерами https://www.codeply.com/go/GoFQqQAFhN*@
@*TODO общий список с пагинацией*@


@code {

    private readonly DisplayingBanner[] _displayingBanners =
    [
        new("Первый", "https://images.unsplash.com/photo-1575936123452-b67c3203c357?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", 0),
        new("Второй", "https://images.unsplash.com/photo-1566438480900-0609be27a4be?q=80&w=2194&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", 1)
    ];

}