<div class="form-check">
    <InputCheckbox id="@_id"
                   class="form-check-input"
                   Value="@Value"
                   ValueExpression="@(() => _value)"
                   ValueChanged="@ValueChangedAsync"/>
    <label for="@_id" class="form-check-label">@Label</label>
</div>

@code {

    private readonly string _id = Guid.NewGuid().ToString();
    private bool _value;

    [Parameter] public required string Label { get; init; }
    [Parameter] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; init; }

    private async Task ValueChangedAsync(bool newValue)
    {
        if (_value != newValue)
        {
            _value = newValue;
            await ValueChanged.InvokeAsync(newValue);
        }
    }

    protected override void OnParametersSet()
    {
        _value = Value;
    }

}