<div class="form-group">
    <label for="@_id">@Label</label>
    <InputDate id="@_id"
               class="form-control"
               TValue="DateTime"
               Value="@Value"
               ValueExpression="@(() => _value)"
               ValueChanged="@ValueChangedAsync"/>
</div>

@code {

    private readonly string _id = Guid.NewGuid().ToString();
    private DateTime _value;

    [Parameter] public required string Label { get; init; }
    [Parameter] public DateTime Value { get; set; }
    [Parameter] public EventCallback<DateTime> ValueChanged { get; init; }

    private async Task ValueChangedAsync(DateTime newValue)
    {
        if (_value != newValue)
        {
            _value = newValue;
            await ValueChanged.InvokeAsync(newValue);
        }
    }

    protected override void OnParametersSet()
    {
        _value = Value;
    }

}