@using System.Linq.Expressions
<div class="form-group">
    <label for="@_id">@Label</label>
    <InputDate id="@_id"
               class="@Style"
               TValue="DateTime"
               Value="@Value"
               ValueExpression="@ValueExpression"
               ValueChanged="@ValueChangedAsync"/>
    <ValidationMessage For="@ValueExpression"/>
</div>

@code {

    private readonly string _id = Guid.NewGuid().ToString();
    private DateTime _value;
    [CascadingParameter] EditContext? EditContext { get; set; }
    private FieldIdentifier _fieldIdentifier;

    private string Style => EditContext?.GetValidationMessages(_fieldIdentifier).Any() is true
        ? "form-control is-invalid"
        : "form-control";

    [Parameter] public required string Label { get; init; }
    [Parameter] public DateTime Value { get; set; }
    [Parameter] public EventCallback<DateTime> ValueChanged { get; init; }
    [Parameter] public Expression<Func<DateTime>> ValueExpression { get; set; } = null!;

    private async Task ValueChangedAsync(DateTime newValue)
    {
        if (_value != newValue)
        {
            _value = newValue;
            await ValueChanged.InvokeAsync(newValue);
        }
    }

    protected override void OnParametersSet()
    {
        _value = Value;
        _fieldIdentifier = FieldIdentifier.Create(ValueExpression);
    }

}