<div class="form-group">
    <label for="@_id">@Label</label>
    <InputNumber id="@_id" 
                 class="form-control" 
                 TValue="int"
                 Value="@Value"
                 ValueExpression="@(() => _value)"
                 ValueChanged="@ValueChangedAsync"/>
</div>

@code {

    private readonly string _id = Guid.NewGuid().ToString();
    private int _value;

    [Parameter] public required string Label { get; init; }
    [Parameter] public int Value { get; set; }
    [Parameter] public EventCallback<int> ValueChanged { get; init; }

    private async Task ValueChangedAsync(int newValue)
    {
        if (_value != newValue)
        {
            _value = newValue;
            await ValueChanged.InvokeAsync(newValue);
        }
    }

    protected override void OnParametersSet()
    {
        _value = Value;
    }

}