@using System.Linq.Expressions

<div class="form-group">
    <label for="@_id">@Label</label>
    <InputTextArea id="@_id"
                   class="@Style"
                   style="width: 100%; height: 400px;"
                   Value="@Value"
                   ValueChanged="@ValueChangedAsync"
                   ValueExpression="@ValueExpression"/>
    <ValidationMessage For="@ValueExpression"/>
</div>

@code {
    private readonly string _id = Guid.NewGuid().ToString();
    private string? _value;
    [CascadingParameter] EditContext? EditContext { get; set; }
    private FieldIdentifier _fieldIdentifier;

    private string Style => EditContext?.GetValidationMessages(_fieldIdentifier).Any() is true
        ? "form-control is-invalid"
        : "form-control";

    [Parameter] public required string Label { get; init; }
    [Parameter] public string? Value { get; init; }
    [Parameter] public EventCallback<string?> ValueChanged { get; init; }
    [Parameter] public Expression<Func<string?>> ValueExpression { get; set; } = null!;

    private async Task ValueChangedAsync(string? newValue)
    {
        if (_value != newValue)
        {
            _value = newValue;
            await ValueChanged.InvokeAsync(newValue);
        }
    }

    protected override void OnParametersSet()
    {
        _value = Value;
        _fieldIdentifier = FieldIdentifier.Create(ValueExpression);
    }

}