<div class="form-group">
    <label for="@_id">@Label</label>
    <InputText id="@_id"
               class="form-control"
               Value="@Value"
               ValueExpression="@(() => _value)"
               ValueChanged="@ValueChangedAsync"/>
</div>

@code {

    private readonly string _id = Guid.NewGuid().ToString();
    private string? _value;

    [Parameter] public required string Label { get; init; }
    [Parameter] public required string? Value { get; set; }
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }

    private async Task ValueChangedAsync(string? newValue)
    {
        if (_value != newValue)
        {
            _value = newValue;
            await ValueChanged.InvokeAsync(newValue);
        }
    }

    protected override void OnParametersSet()
    {
        _value = Value;
    }

}