@using JitDalshe.Ui.Admin.Models
@inject IJSRuntime JsRuntime

<div class="card mb-3">
    <div class="card-header">
        @Event.Date.ToString("dd-MM-yyyy")
    </div>
    <div class="card-body">
        <h5 class="card-title">@Event.Title</h5>
    </div>
    <div class="card-footer">
        <div class="d-flex footer-buttons">
            <button type="button"
                    class="btn btn-primary"
                    data-toggle="modal">
                Подробнее
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    data-toggle="modal"
                    @onclick="ShowEditEventModalAsync">
                Изменить
            </button>
            <button type="button"
                    class="btn btn-danger">
                Удалить
            </button>
        </div>
    </div>
</div>

<EditEventModal Id="@EditEventModalId" Event="@Event" EventEdited="@OnEventEditedCallback"/>

@code {
    private string EditEventModalId => $"modal_edit_{Event.Id}";

    [Parameter] public required Event Event { get; init; }
    [Parameter] public required EventCallback OnEventEditedCallback { get; init; }

    private async Task ShowEditEventModalAsync()
    {
        await JsRuntime.InvokeVoidAsync("showModal", $"#{EditEventModalId}");
    }

}