@using JitDalshe.Ui.Admin.Models
@using JitDalshe.Ui.Admin.Components.Shared.Modals

<Modal Id="@Id"
       Title="@Title"
       Footer="Modal.FooterType.Text"
       FooterText="@FooterText"
       FooterContentPosition="Modal.FooterPositioning.Start">
    @if (News.Images.Length > 0)
    {
        <img src="@News.Images.Single(x => x.IsPrimary).Url"
             class="mb-4 img-primary rounded"
             alt=""/>
    }
    <p>
        @((MarkupString)News.TextWithoutTitle.Replace("\n", "<br/>"))
    </p>
    <p>
        Ссылка на пост: <a href="@News.PostUrl">@News.PostUrl</a>
    </p>
</Modal>

@code {

    private string FooterText => $"Опубликовано {News.PublishDate.ToString("dd-MM-yyyy")}";
    private string Title => $"{News.Title} ({News.DisplayingStatus})";

    [Parameter] public required string Id { get; init; }
    [Parameter] public required News News { get; init; }

}