@using JitDalshe.Ui.Admin.Models
@inject IJSRuntime JsRuntime

<div class="card w-75 mb-3">
    <div class="card-header">
        @News.PublishDate.ToString("dd-MM-yyyy")
    </div>
    <div class="card-body">
        <h5 class="card-title">@News.Title</h5>
        <p class="card-text">@((MarkupString)News.TextWithoutTitle.Replace("\n", "<br/>"))</p>
    </div>
    <div class="card-footer">
        <div class="d-flex">
            <button type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="@InfoModalId"
                    @onclick="ShowInfoModalAsync">
                Подробнее
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    data-toggle="modal"
                    data-target="@EditModalId"
                    @onclick="ShowEditModalAsync">
                Изменить
            </button>
        </div>
    </div>
</div>

<NewsInfoModal News="News" Id="@InfoModalId[1..]"/>
<NewsEditModal News="News" Id="@EditModalId[1..]"/>

@code {
    private string InfoModalId => $"#modal_{News.Id}";
    private string EditModalId => $"#modal_edit_{News.Id}";

    [Parameter] public required News News { get; init; }

    private async Task ShowInfoModalAsync()
    {
        await JsRuntime.InvokeVoidAsync("showModal", InfoModalId);
    }

    private async Task ShowEditModalAsync()
    {
        await JsRuntime.InvokeVoidAsync("showModal", EditModalId);
    }
}