@using JitDalshe.Ui.Admin.Models
@using JitDalshe.Ui.Admin.Services.SwiperService
@inject ISwiperService SwiperService

<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        @foreach (var item in Items)
        {
            if (item.RedirectOnClickUrl is not null)
            {
                <a class="swiper-slide"
                   style="@Style(item)"
                   href="@item.RedirectOnClickUrl"
                   target="_blank">
                    <h2 class="slide-text">@item.Title</h2>
                </a>
            }
            else
            {
                <div class="swiper-slide"
                     style="@Style(item)">
                    <h2 class="slide-text">@item.Title</h2>
                </div>
            }
        }
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

@code {
    [Parameter] public required PreviewBanner[] Items { get; init; } = [];

    private static string Style(PreviewBanner item)
        => $"background-image: url({item.ImageUrl}); " +
           $"{(item.RedirectOnClickUrl is not null ? "cursor: pointer;" : null)}";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SwiperService.InitSwiperAsync();
        }
    }

}